<form method="post" action="/signin">
    <h3>Sign In</h3>
    <div class="form-group">
        <label>Email</label>
        <label>
            <input name="email" type="email" class="form-control" placeholder="Email" value="">
        </label>
    </div>
    <div class="form-group">
        <label>Password</label>
        <label>
            <input name="password" type="password" class="form-control" placeholder="Password">
        </label>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-outline-primary">Submit</button>
    </div>
    <div class="form-group">
        <a href="/signup">Don't have an account?</a>
    </div>
</form>

